@font-face {
	font-family: "Neucha";
	src: url("../fonts/Neucha-Regular.ttf") format("truetype");
}
body {
	max-width: 1500px;
	background: white;
	cursor: url("../img/icons8-arrow-cursor-91.png"), default;
	padding-left: 210px;
	padding-right: 210px;
	font-family: "Neucha";
	font-size: 25px;
}
img{
	height: 250px;
	width: 300px;
	text-align: center;
	margin-left: 130px;
	margin-top: 65px;
}
h1{

}
.container {
	width: auto;
	height: 400px;
	background: #FAEBD7;
	margin: 0 auto;
	padding-left: 25px;
}
.container2{
	width: auto;
	height: 400px;
	background: #FFE4E1;
	margin: 0 auto;
}
.container3{
	width: auto;
	height: 400px;
	background: #AFEEEE;
	margin: 0 auto;
}
.forms{
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 15px;
}
input{
	margin-bottom: 1px;
	margin-top: 1px;
}
.labels{
	margin-top: 5px;
}
textarea{
	margin-top: 10px;
}
.files{
	margin-left: 140px;
}
.colors{
	margin-left: -70px;
}
label{
	position-top: 5px;
}

@media all and (min-width: 1024px) and (max-width: 1280px){
	.container{
		width: 1020px;
	}
}
@media all and (min-width: 768px) and (max-width: 1024px){
	.container{
		width: 750px;
	}
}
@media all and (min-width: 480px) and (max-width: 768px){
	.container{
		width: 470px;
	}
}
@media all and (max-width: 480px){
	.container{
		width: 470px
	}
}