.container {
    background: #FFF;
    color: #000;
    font-family: 'Trebuchet MS', 'Times New Roman', Arial;
    font-size: 14px;
    margin: 30px auto;
    width: 900px;
    text-align: center;
}

h1 {
    padding: 20px;
    margin: 0px;
}

.header {
    background: #838283;
    width: auto;
    height: 200px;
}

nav {
    background: #a2a2a2;
    width: auto;
    height: 40px;
    display: flex;
    align-items: center;
}

a {
    font-size: 18px;
    font-weight: 600;
    padding: 15px;
    transition: all 300ms;
    cursor: pointer;
}

a:hover {
    color: rgb(73, 73, 73);
    font-size: 20px;
}

.menu {
    background: #333;
    float: left;
    width: 200px;
    height: 600px;
}

.content {
    background: #d2d0d2;
    float: right;
    width: 700px;
    height: 600px;
}

.clear {
    clear: both;
}

footer {
    background: #838283;
    height: 180px;
    width: 900px;
}