@font-face {
    font-family: "Nanum Gothic";
    src: url("../fonts/NanumGothic-Regular.ttf") format("truetype");
}
body{
    font-family: "Nanum Gothic";

    height: 700px;
    width: 450px;

    margin: 50px auto;
}
hr{
    background: #C75526;
    width: 70px;
    height: 2px;
    margin-left: 50px;
    border: none;
    margin-top: -30px;
}
h1{
    color: white;
    margin-left: 50px;
    margin-top: 50px;
    padding-bottom: 25px;
}
label{
    color: white;
    margin-left: 60px;
    box-sizing: border-box;
}
.labelEmail{
    margin-top: 150px;
    margin-bottom: 50px;
}

input.fields{
    width: 350px;
    height: 50px;
    margin-left: 50px;
    box-sizing: border-box;
    border-radius: 25px;
    outline: none;
    background: rgba( 255,255,255,.2);
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px;
    color: black;
    caret-color: #C75526;
    caret-shape: underscore;
}
button{
    width: 350px;
    height: 50px;
    box-sizing: border-box;
    border-radius: 25px;
    outline: none;
    border: none;
    background: #ce8e5a;
    margin-left: 50px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 15px 25px;
    text-align: center;
    box-shadow: 0 3px #BA6F15;
}
button:hover {
    background-color: #D17C17
}

button:active {
    background-color: #B06B16;
    box-shadow: 0 5px #B03F16;
    transform: translateY(4px);
}
.containerRegistration{
    background: url("../img/img2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border: 5px solid #630800;
    height: 700px;
    width: 450px;
    top: 50%;
    left: 50%;
}
img.background {
    height: 700px;
    width: 450px;
}
